@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.game-info-container {
    margin: 60px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 50%;
    color: white;

    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.game-info-container > img {
    width: 500px;
    height: auto;
    transition: transform 0.25s ease-in-out;
}

.game-info-container > img:hover {
    transform: scale(1.1) rotate(5deg); 
}

.game-info-container > button {
    background-color: #ffcb05;
    border: none;
    border-radius: 12px;
    color: #3b4cca;
    padding: 15px 30px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.7s ease;
    margin: 70px;
  }

  .game-info-container > button:hover {
    background-color: #76c7c0; 
  }

  .game-info-container > h1 {
    font-family: 'Press Start 2P', cursive;
    color: #ffcb05;
    background-color: #3b4cca;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 50px auto;
    margin-bottom: 0px;
    text-shadow: 3px 3px #000000;
  }

  .game-instruction {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: #3b4cca;
    background-color: #ffcb05;
    padding: 10px;
    border-radius: 5px;
    margin: 30px auto;
    margin-top: 0px;
    text-align: center;
    max-width: 50%;
  }